Source: dicomifier
Maintainer: Julien Lamy <lamy@unistra.fr>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9), 
               dh-python,
               cmake,
               pkg-config,
               libboost-date-time-dev, 
               libboost-filesystem-dev, 
               libboost-regex-dev, 
               libboost-system-dev, 
               libjsoncpp-dev, 
               liblog4cpp5-dev, 
               libboost-python-dev, 
               libnifti-dev,
               libodil-dev (>= 0.8.0),
               python-dateutil,
               python-dev,
               python-numpy,
               python-odil (>= 0.8.0),
               zlib1g-dev,
               libboost-test-dev,
               python-nose,
               libqt4-dev, 
Standards-Version: 3.9.8
Homepage: https://github.com/lamyj/dicomifier
X-Python-Version: >= 2.7

Package: dicomifier
Architecture: any
Depends: python-dateutil,
         python-numpy,
         python-odil (>= 0.7.3),
         ${shlibs:Depends}, 
         ${python:Depends},
         ${misc:Depends}
Description: Convert data to and from DICOM
 Dicomifier is a set of tools to convert Bruker to DICOM and DICOM to NIfTI. A
 set of mapping rules is provided, allowing the conservation of meta-data upon
 conversion.
