Source: dicomifier
Maintainer: Julien Lamy <lamy@unistra.fr>
Section: science
Priority: optional
Build-Depends: debhelper (>= 8.0.0), 
               libnifti-dev, 
               libqt4-dev, 
               liblog4cpp5-dev, 
               libv8-dev, 
               libboost-date-time-dev, 
               libboost-filesystem-dev, 
               libboost-program-options-dev, 
               libboost-system-dev, 
               libboost-regex-dev, 
               libjsoncpp-dev, 
               libodil0-dev,
               libboost-test-dev
Standards-Version: 3.9.6
Homepage: https://github.com/lamyj/dicomifier

Package: dicomifier
Architecture: any
Section: science
Depends: ${shlibs:Depends}, 
         ${misc:Depends}
Description: Tools to manipulate DICOM files
 dicomifier is a set of tools to convert Bruker Dataset into DICOM Dataset 
 and DICOM Dataset to NIfTI files.
 .
 This package contains the applications.

Package: dicomifier-doc
Architecture: all
Section: doc
Depends: ${shlibs:Depends}, 
         ${misc:Depends}
Description: Tools to manipulate DICOM files
 dicomifier is a set of tools to convert Bruker Dataset into DICOM Dataset 
 and DICOM Dataset to NIfTI files.
 .
 This package contains the documentation files.

