#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# needed for the tests
export DICOMIFIER_TEST_DATA=$(CURDIR)/tests/data

# Find all Python versions
PYTHON3=$(shell py3versions -vd)
ALLPY=${PYTHON3}

%:
	dh $@ --builddirectory=build --with python3

override_dh_auto_configure-arch:

# Reconfigure build for specific Python version
# WARNING: builds for Python versions MUST be sequential since they use the
# same build directory
override_dh_auto_build-arch:
	set -e; \
	for Python in $(ALLPY); do \
	  echo "=== Building for Python $${Python} ==="; \
	  PythonNoDot=$$(echo $${Python} | sed 's|\.||'); \
	  mkdir build; \
	  dh_auto_configure -- \
	    -DPYTHON_EXECUTABLE=/usr/bin/python$${Python}; \
	  dh_auto_build; \
	  mv build build-py$${Python}; \
	done

override_dh_auto_build-indep:
	dh_auto_configure --builddirectory=build-indep -- \
	  -DPYTHON_EXECUTABLE=/usr/bin/python$(PYTHON3)

# WARNING: tests for Python versions MUST be sequential since they use the
# same build directory
override_dh_auto_test-arch:
	set -e; \
	for Python in $(ALLPY); do \
	  export LD_LIBRARY_PATH=$(CURDIR)/install/usr/lib; \
	  export PYTHONPATH=$(CURDIR)/install/usr/$$(/usr/bin/python$${Python} -c "from distutils.sysconfig import *; print(get_python_lib(True, prefix=''))"); \
	  ln -s build-py$${Python} build; \
	  cd build && \
	    $(MAKE) install DESTDIR=../install && \
	    ctest -T Test && \
	    echo $${PYTHONPATH} && \
	    /usr/bin/python$${Python} -m unittest discover -s ../tests/python/; \
	  cd ..; \
	  rm build; \
	done

# WARNING: installs for Python versions MUST be sequential since they use the
# same build directory
override_dh_auto_install-arch:
	for Python in $(ALLPY); do \
	  ln -s build-py$${Python} build; \
	  $(MAKE) -C build/src/lib install DESTDIR=$(CURDIR)/debian/tmp; \
	  $(MAKE) -C build/src/python install DESTDIR=$(CURDIR)/debian/tmp; \
	  rm build; \
	done

override_dh_auto_install-indep:
	ln -s build-indep build
	$(MAKE) -C build/src/cli install DESTDIR=$(CURDIR)/debian/tmp
	rm build

override_dh_install-arch:
	dh_install
	d-shlibmove \
		--devunversioned \
		--commit --multiarch --exclude-a --exclude-la \
		--movedev debian/tmp/usr/include/* usr/include \
		debian/tmp/usr/lib/*.so

override_dh_clean:
	dh_clean
	find . -name "*pyc" -delete
	rm -rf build-indep $(ALLPY:%=build-py%) install

# These steps are not needed for arch-independent packages
override_dh_auto_configure-indep:
override_dh_auto_test-indep:
